/* TYPOGRAPHY */

/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

// custom font
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.ttf") format('truetype');
  font-weight: 700;
}

;

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.ttf") format('truetype');
  font-weight: 500;
}

;

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.ttf") format('truetype');
  font-weight: 400;
}

;

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.ttf") format('truetype');
  font-weight: normal;
}

;

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Light.ttf") format('truetype');
  font-weight: 200;
}

;


@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: calc(16px + (18 - 16) * ((100vw - 2560px) / (2880 - 2560)));
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: calc(18px + (22 - 18) * ((100vw - 2880px) / (3840 - 2880)));
  }
}

@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}


$font-lato: 'Lato',
sans-serif;
$font-raleway: 'Raleway',
sans-serif;
$font-helvetica : 'Helvetica Neue';

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-xxl: $font-size-base * 2.125;            //34px
$font-size-xl-alt: $font-size-base * 2;               //32px
$font-size-title: $font-size-base * 1.75;             //28px
$font-size-title-sm: $font-size-base * 1.5;             //24px
$font-size-title-xs: $font-size-base * 1.375; //22px
// $font-size-latest-news-desc: $font-size-base * 1.25;  //20px
$font-size-text: $font-size-base * 1.125;             // 18px
$font-size-text-sm: $font-size-base * .875;           // 14px
$font-size-xs: $font-size-base * .75;                 // 12px
