/* TYPOGRAPHY */

/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");


@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 2 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 2560px) {
    html {
        font-size: calc(16px + (18 - 16) * ((100vw - 2560px) / (2880 - 2560)));
    }
}

@media screen and (min-width: 3840px) {
    html {
        font-size: calc(18px + (22 - 18) * ((100vw - 2880px) / (3840 - 2880)));
    }
}

@function em($pixels, $context: 16) {
    @return #{$pixels/$context}em;
}

// $font-size-xxl: em(34); // 2.125em
// $font-size-xl-alt: em(32); // 2em
// $font-size-xl: em(28); // 1.75em
// $font-size-lg-alt: em(24); // 1.5em
// $font-size-lg: em(22); // 1.375em
// $font-size-md-alt: em(20); // 1.25em
// $font-size-md: em(18); // 1.125em
// $font-size-base: em(16); // 1em
// $font-size-sm: em(14); // 0.875em
// $font-size-xs: em(12); // 0.75em

$font-lato: 'Lato', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;
$font-size-xs: $font-size-base * .75;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$h1-font-size-h1: $font-size-base * 2.5;
$h2-font-size-h2: $font-size-base * 2;
$h3-font-size-h3: $font-size-base * 1.75;
$h4-font-size-h4: $font-size-base * 1.5;
$h5-font-size-h5: $font-size-base * 1.25;
$h6-font-size-h6: $font-size-base;