.toolkit-purpose-container {
  padding: 35px 0;
  background: $gray-200;

  @media only screen and (min-width: 992px) {
    padding: 35px 0 70px;
  }

  .toolkit-nav {
    padding-bottom: 13px;
    border-bottom: 2px solid #fff;
    margin-bottom: 40px;

    @media only screen and (min-width: 992px) {
      margin-bottom: 67px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a {
      font-family: $font-raleway-sans;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 16px;
      color: #272727;
      display: block;
      margin-bottom: 8px;
      transition: all 0.23s;

      &.active {
        color: $primary-color;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          height: 3px;
          width: 100%;
          background: $primary-color;
          bottom: -15px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover,
      &:focus {
        color: $primary-color;
        transition: all 0.23s;
      }

      @media only screen and (min-width: 768px) {
        display: inline-block;
        margin-bottom: 0;
      }

      @media only screen and (min-width: 992px) {
        margin-right: 32px;
      }

      @media only screen and (min-width: 1200px) {
        margin-right: 50px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.purpose-container {
  text-align: center;

  h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 44px;
    font-family: $font-raleway-sans;
    color: $blue-dark;

    @media only screen and (min-width: 1200px) {
      font-size: 50px;
      line-height: 48px;
      margin-bottom: 25px;
    }
  }

  .description {
    max-width: 850px;
    margin: 0 auto;

    p {
      margin: 0;
      line-height: 26px;
    }
  }
}

.approach-wrapper {
  padding: 70px 0 125px;

  h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    line-height: 44px;
    font-family: $font-raleway-sans;
    color: $blue-dark;
    margin-bottom: 100px;
  }
}

.approach-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.approach-steps {
  width: 100%;

  @media only screen and (min-width: 992px) {
    width: 60%;
  }

  >div {
    position: relative;
  }

  .approach-arrow-img {
    padding: 60px;

    @media only screen and (min-width: 768px) {
      padding: 80px;
    }
  }

  .choose-step {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100px;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 30px;
    font-family: $font-raleway-sans;
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    bottom: 0;

    li {
      width: 140px;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #fff;
      box-shadow: 5px 10px 30px #00000014;
      transition: all 0.23s;
      cursor: pointer;

      @media only screen and (min-width: 768px) {
        width: 181px;
        height: 181px;
      }

      &:hover,
      &:focus {
        background: $primary-color;
        transition: all 0.23s;

        .step-number {
          color: $accent-color;
        }

        .step-name {
          color: $white;
        }
      }
    }
  }

  .step-card-1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .step-card-2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .step-card-3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .step-card-4 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .step-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 8px;
  }

  .step-number {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0.98px;
    color: #AAAAAA;

    @media only screen and (min-width: 768px) {
      font-size: 49px;
      line-height: 66px;
    }
  }

  .step-name {
    color: $blue-dark;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    font-weight: 600;

    @media only screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  img {
    width: 100%;
  }
}

.toolkit-steps-wrapper {
  width: 100%;

  @media only screen and (min-width: 992px) {
    width: 40%;
  }

  .steps-card-wrapper {
    margin-top: 50px;

    @media only screen and (min-width: 992px) {
      margin-top: 0;
      margin-left: 100px;
    }

    a {
      width: 45px;
      height: 45px;
      border-radius: 8px;
      position: absolute;
      top: 50%;
      right: -22px;
      font-size: 22px;
      background: $accent-color;
      color: #fff;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.23s;

      &:hover {
        transition: all 0.23s;
        box-shadow: 5px 10px 25px #00000029;
        transform: translateY(-50%) scale(1.05);
      }

      &:focus {
        transition: all 0.23s;
        box-shadow: 5px 10px 25px #00000029;
      }
    }
  }

  .steps-card {
    background: #553ba8;
    padding: 33px 35px;
    border-radius: 16px;
    color: #fff;
    box-shadow: 5px 10px 25px #00000029;
    position: relative;
    margin-bottom: 24px;

    &:not(:first-child) {
      display: none;
    }

    >div {
      display: inline-block;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 19px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    }
  }
}

.mission-and-method-wrapper {
  padding: 70px 0 125px;

  h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    line-height: 44px;
    font-family: $font-raleway-sans;
    color: $blue-dark;
    margin-bottom: 100px;
  }
}

.downloads-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }

  .downloads-stats {
    flex: 1;
    font-family: $font-opensans;
    font-size: $font-size-base;
    text-align: center;

    @media only screen and (min-width: 992px) {
      align-self: flex-start;
      flex: 0 0 35%;
      text-align: left;
    }

    .downloads-title {
      font-family: $font-raleway-sans;
      font-weight: bold;
      font-size: $font-size-title-sm;
      line-height: 32px;
      margin-bottom: 40px;
    }

    .stat-key {
      color: $gray-600;
    }

    .stat-value {
      color: $gray-900;
      font-weight: 600;
    }
  }

  .graph-container {
    width: 100%;
    flex: 1;
    max-width: 90vw;
    background: $gray-200;
    border-radius: 16px;
    padding: 40px;
    margin-top: 20px;

    @media only screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
}
