.toolkit-item-wrapper {
  .toolkit-item-banner {
    height: 300px;
    background-color: whitesmoke;

    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }

  .toolkit-item-nav-container {
    display: flex;
    align-items: flex-end;
    gap: 25px;
    margin-top: 24px;

    .nav-image-container {
      border: solid 2px $primary-color;
      background-color: $white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      padding: 10px 20px;
      border-radius: 2px;

      p {
        font-family: $font-raleway-sans;
        font-size: $font-size-text-sm;
        font-weight: 600;
        line-height: 1.14;
        color: $primary-color;
        margin: 0;
      }

      img {
        height: $font-size-xl-alt;
      }
    }

    .toolkit-item-nav {
      span {
        font-family: $font-raleway-sans;
        font-size: $font-size-xs;
        font-weight: 600;
        line-height: 1.17;
        color: $primary-color;

        a {
          color: $primary-color;
        }
      }

      .end-nav-item {
        font-family: $font-raleway-sans;
        font-size: $font-size-xs;
        font-weight: 600;
        line-height: 1.17;
        color: $gray-800;
      }

      i {
        font-size: $font-size-text-sm;
        color: $primary-color;
        margin: 0 15px;
      }
    }
  }

  .toolkit-item-title {
    margin: 50px 0 25px;
    h2 {
      font-family: $font-raleway-sans;
      font-size: 35px;
      line-height: 45px;
      font-weight: bold;
      color: $gray-900;
    }
  }

  .toolkit-item-social-media-wrapper {
    padding: 8px 0;

    .date {
      display: inline-block;
      margin-right: 35px;

      p {
        font-family: $font-lato;
        font-size: $font-size-text;
        font-weight: normal;
        line-height: 1.22;
        color: rgba(0, 0, 0, 0.35);
        margin: 0;
      }
    }

    .social-contact {
      display: inline-block;
      margin-right: 35px;

      a {
        i {
          color: rgba(0, 0, 0, 0.35);
          font-size: $font-size-text;
          padding: 0 5px;
        }
      }
    }

    .social-media {
      display: inline-block;

      a {
        color: $primary-color;

        i {
          color: $primary-color;
          font-size: $font-size-text;
          padding: 0 5px;
        }
      }
    }
  }

  .hr-toolkit-item {
    color: #c6c6c6;
    height: 1px;
    width: 100%;
    margin: 0;
  }

  .news-wrapper {
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;

    .news-button {

      h3 {
        display: none;
      }

      .field--name-field-tags {
        margin-bottom: 0 !important;
      }

      .field__items {

        li {
          background-color: #e8e7ed;
          font-size: 14px;
          font-weight: 600;
          padding: 3px 10px;
          margin-right: 5px;
          border-radius: 4px;
          color: $primary-color;
          text-transform: uppercase;

          a {
            color: $primary-color;
          }
        }
      }
    }
  }

  .toolkit-item-info {

    .toolkit-item-info-body {
      font-size: 14px;
      color: $gray-900;
      line-height: 24px;
    }
  }

  .toolkit-item-faq {
    background: $gray-200;
    padding: 35px 0;

    @media only screen and (min-width: 768px) {
      padding: 70px 0;
    }

    @media only screen and (min-width: 1200px) {
      padding: 70px 0 125px;
    }
  }

  .faq-header-card {
    text-align: center;

    .faq-header-card-title {
      font-family: $font-raleway-sans;
      font-size: 35px;
      font-weight: bold;
      line-height: 1.37;
      letter-spacing: 0.7px;
      text-align: center;
      color: #2a3749;
      margin-bottom: 30px;
    }

    .faq-header-card-description {
      line-height: 1.63;
      text-align: center;
      color: #272727;
      max-width: 820px;
      margin: 0 auto 47px;
    }

    .faq-category-container {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;

      a:hover {
        text-decoration: none;
      }

      .faq-category-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 30px 21px;
        width: 206px;
        border-radius: 8px;
        background: #ffffff;
        font-family: $font-raleway-sans;
        font-size: $font-size-base;
        font-weight: 600;
        border: 2px solid transparent;
        transition: all 0.23s;
        margin: 16px;

        &:hover, &:focus {
          box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.08);
          border-color: #553ba8;
          transition: all 0.23s;
        }

        .faq-category-content-img {
          height: 40px;
          width: auto;
        }

        p {
          font-size: 18px;
          font-weight: bold;
          line-height: 1.44;
          color: #272727;
          margin: 17px 0 23px;
        }
      }

      .arrow {
        width: 35px;
        height: 35px;
        color: $accent-color;
        font-weight: normal;
        border: 1px solid $accent-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        .fa {
          font-size: 13px;
        }
      }
    }
  }
}

.toolkit-item-info {
  .file-info-container {
    width: 100%;
    background: #F2F2F4;
    padding: 16px 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media only screen and (min-width: 1200px) {
      width: 52%;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .file-info-title {
    a, h2 {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      color: $gray-900;
      margin-bottom: 12px;
      display: inline-block;
    }
  }

  .button-container {
    .download-button {
      span {
        width: 33px;
        height: 33px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 8px;
        color: $primary-color;
      }
    }

    .download-button {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      display: inline-block;
    }
  }

  .file-info-doc {
    color: #8E8E8E;
    font-weight: 600;
    font-size: 12px;

    img {
      height: 16px;
    }

    > span:first-child {
      margin-right: 20px;
    }
  }
}
