.toolkit-evidence-body-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0 !important;

  .workshop-content {
    display: flex;
    flex-direction: column;
    background-color: $accent-alt-light-color;
    align-items: center;
    padding: 80px 0;
    border-radius: 20px;

    .workshop-title {
      font-family: $font-raleway;
      font-size: $font-size-section-title;
      font-weight: $font-weight-semibold;
      line-height: 1.2;
      color: $primary-color;
      background-color: $white;
      display: inline-block;
      padding: 10px 75px;
      border-radius: 20px;
      box-shadow: 0 3px 6px 0 rgba(59, 54, 54, 0.16);
      margin-bottom: 40px;
    }

    .workshop-row-wrapper {
      width: 100%;

      .workshop-row {
        background-color: $white;
        border-radius: 20px;
        color: $primary-color;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

        .image-container {
          height: 550px;
          background-color: #f5f5f5;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          object-fit: cover;
        }

        .workshop-row-content {
          a {
            text-decoration: none;
          }

          .workshop-row-title {
            font-size: $font-size-text-alt;
            font-family: $font-raleway;
            font-weight: 600;
            color: $primary-color;
          }

          .workshop-row-body {
            font-size: $font-size-base;
            font-family: $font-lato;
          }

          .file-info-container {
            background-color: #e8edff;
            border-radius: 5px;

            .file-info-title {
              font-family: $font-lato;
              font-size: $font-size-text;
              font-weight: 600;
              margin-bottom: 24px;
            }

            div {
              span {
                color: $accent-color;
                font-size: 10px;
                font-family: $font-lato;
              }
            }

            .button-container {
              display: flex;
              flex-direction: column;
              align-items: center;

              .extension-icon {
                height: 40px;
              }

              span {

                .download-button {
                  text-decoration: none;
                  font-size: $font-size-xs;
                  padding: 3px 10px;
                  border-radius: 10px;
                  background-color: $accent-color;
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }

  .workshop-content:nth-child(odd) {
    background-color: $primary-color-light;

    .workshop-title {
      color: #ffffff;
      background-color: $primary-color;
    }
  }

  .workshop-content {
    border-radius: 0;
  }

  .workshop-content:nth-child(1) {
    border-radius: 20px 20px 0 0;
  }

  .testimonial-slide-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-items: center;
    background-color: #e8edff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 100px;

    .testimonial-slide-content-title {
      font-family: $font-raleway;
      font-size: $font-size-section-title;
      font-weight: $font-weight-semibold;
      line-height: 1.2;
      color: $white;
      background-color: $primary-color;
      display: inline-block;
      padding: 10px 75px;
      border-radius: 20px;
      box-shadow: 0 3px 6px 0 rgba(59, 54, 54, 0.16);
      margin-bottom: 75px;
    }

    .carousel {
      .carousel-inner {
        .carousel-item {
          position: relative;

          .quote-image {
            position: absolute;
            z-index: 1;
            top: 25%;
            right: 25%;
            height: 160px;
          }

          .card {
            display: flex;
            justify-content: space-between;
            min-height: 420px;
            border: none;
            padding: 80px 100px;
            background-color: $white;
            border-radius: 200px;
            box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.16);
            color: $primary-color;

            .testimonial-title {
              z-index: 2;
              font-size: $font-size-text-alt;
              font-family: $font-raleway;
              font-weight: 600;
            }

            .testimonial-body {
              z-index: 2;
              font-size: $font-size-text;
              font-family: $font-lato;
              line-height: 1.22;
            }

            .testimonial-source {
              z-index: 2;
              color: $accent-color;
              font-size: $font-size-text-sm;
              font-family: $font-raleway;
              text-align: right;
              padding: 0 75px;
            }
          }
        }
      }

      .control-left {
        position: absolute;
        top: 45%;
        left: -18px;
        padding: 5px 15px;
        border-radius: 18px;
        background-color: $accent-color;
        color: $white;
        font-size: $font-size-text-alt;
      }

      .control-right {
        top: 45%;
        position: absolute;
        right: -18px;
        padding: 5px 15px;
        border-radius: 18px;
        background-color: $accent-color;
        color: $white;
        font-size: $font-size-text-alt;
      }
    }

    .carousel-indicators {
      position: absolute;
      bottom: -50px;
      z-index: 1;

      .active {
        background-color: $accent-color;
      }

      li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .toolkit-evidence-body-wrapper {
    flex: 1;
    width: 100%;

    .workshop-content {
      padding-top: 25px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .workshop-row-wrapper {

        .workshop-row {
          border-radius: 10px;

          .image-container {
            height: 300px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0px;
            object-fit: cover;
          }

          .workshop-row-content {
            .workshop-row-title {
              font-size: $font-size-base;
            }

            .workshop-row-body {
              font-size: $font-size-xs;
            }

            .file-info-container {

              .file-info-title {
                font-size: $font-size-base;

              }

              .button-container {

                .extension-icon {
                  height: 20px;
                }

                .span {

                  .download-button {
                    font-size: $font-size-xs;
                    padding: 2px 5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .non-leaders-content {
      border-radius: 0;
    }

    .testimonial-slide-content {
      padding: 40px 5px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .testimonial-slide-content-title {
        padding: 7px 50px;
      }

      .carousel {
        .carousel-inner {
          .carousel-item {
            .card {
              padding: 30px 25px;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .toolkit-evidence-body-wrapper {
    flex: 1;
    width: 100%;

    .workshop-content {
      padding-top: 40px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .workshop-row-wrapper {

        .workshop-row {
          border-radius: 10px;

          .image-container {
            height: 300px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0px;
            object-fit: cover;
          }

          .workshop-row-content {
            .workshop-row-title {
              font-size: $font-size-base;
            }

            .workshop-row-body {
              font-size: $font-size-xs;
            }

            .file-info-container {

              .file-info-title {
                font-size: $font-size-base;

              }

              .button-container {

                .extension-icon {
                  height: 20px;
                }

                .span {

                  .download-button {
                    font-size: $font-size-xs;
                    padding: 2px 5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .non-leaders-content {
      border-radius: 0;
    }

    .testimonial-slide-content {
      padding: 50px 5px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .testimonial-slide-content-title {
        padding: 7px 50px;
      }

      .carousel {
        .carousel-inner {
          .carousel-item {
            .card {
              padding: 40px 35px;
              border-radius: 25px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 920px) {
  .toolkit-evidence-body-wrapper {
    flex: 1;
    width: 100%;

    .workshop-content {
      padding-top: 60px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .workshop-row-wrapper {

        .workshop-row {
          border-radius: 10px;

          .image-container {
            height: 350px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0px;
            object-fit: cover;
          }

          .workshop-row-content {
            .workshop-row-title {
              font-size: $font-size-base;
            }

            .workshop-row-body {
              font-size: $font-size-xs;
            }

            .file-info-container {

              .file-info-title {
                font-size: $font-size-base;

              }

              .button-container {

                .extension-icon {
                  height: 20px;
                }

                .span {

                  .download-button {
                    font-size: $font-size-xs;
                    padding: 2px 5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .non-leaders-content {
      border-radius: 0;
    }

    .testimonial-slide-content {
      padding: 50px 15px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .testimonial-slide-content-title {
        padding: 7px 100px;
      }

      .carousel {
        .carousel-inner {
          .carousel-item {
            .card {
              padding: 60px 50px;
              border-radius: 50px;
            }
          }
        }
      }
    }
  }
}
