.about-header-block {
  padding: 40px 16px;
  background: $gray-200;
  text-align: center;

  @media only screen and (min-width: 1200px) {
    padding: 80px 16px;
  }
}

.about-us-header-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 44px;
  font-family: $font-raleway-sans;
  color: $blue-dark;

  @media only screen and (min-width: 1200px) {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 51px;
  }
}

.about-us-header-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
  line-height: 32px;
  font-family: $font-raleway-sans;
  color: $blue-dark;

  @media only screen and (min-width: 1200px) {
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 26px;
  }
}

.about-us-header-card-description {
  max-width: 860px;
  margin: 0 auto;

  p {
    margin: 0;
  }
}

.our-partners-block {
  padding: 70px 0;

  h2 {
    text-align: center;
    font-size: 35px;
    line-height: 44px;
    margin-bottom: 70px;
    font-weight: bold;
    font-family: $font-raleway-sans;
  }
}

.partner-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @media only screen and (min-width: 992px) {
    margin-bottom: 80px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &#partner-3 {
    .info-container {
      @media only screen and (min-width: 992px) {
        order: 2;
        margin-right: 0;
        margin-left: -10%;
      }
    }
  }

  .info-container {
    width: 100%;
    position: relative;

    @media only screen and (min-width: 992px) {
      width: 60%;
      margin-right: -10%;
    }

    > div {
      box-shadow: 5px 10px 80px #00000014;
      padding: 38px 27px;
      border-radius: 8px;
      background: #fff;
    }
  }

  .partner-logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .partner-logo {
    width: 87px;
    height: 87px;
    border-radius: 6px;
    background: #EFEFF5;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    img {
      width: 100%;
    }
  }

  .partner-title {
    font-size: 24px;
    line-height: 32px;
    color: $primary-color;
    font-weight: bold;
    font-family: $font-raleway-sans;
    margin: 0;
  }

  .partner-description {
    font-size: 14px;
    line-height: 24px;
    color: $gray-900;
    margin-bottom: 32px;

    @media only screen and (min-width: 992px) {
      margin-bottom: 70px;
    }
  }

  .cover-image-container {
    display: none;

    @media only screen and (min-width: 992px) {
      display: block;
      width: 60%;
    }

    img {
      height: 780px;
      object-fit: cover;
      border-radius: 0 16px 16px 0;
    }
  }
}
