<div class="account-wrapper">
  <div class="container">
    <div class="account-container">
      <div class="login-title">
        <h3 id="login" class="active">{% trans %}Login{% endtrans %}</h3>
        <h3 id="register">{% trans %}Register{% endtrans %}</h3>
      </div>
      <div class="login-container">
        <div class="login-info">
          <p>
            {% trans %}
              Please login with your WID account to access content or upload documents to the platform.
            {% endtrans %}
          </p>
        </div>
        <div class="login-with-container">
          <div class="login-with-image">
            <span class="login-with">{% trans %}Login with{% endtrans %}</span>
            {{ drupal_block('social_auth_login') }}
          </div>
        </div>
        <p class="or">{% trans %}OR{% endtrans %}</p>
        <div class="login-form">
          {{ content.login_form }}
        </div>
        <p class="forget-password">{{ content.user_links['#items'].request_password }}?</p>
        <p class="register-now">
          {% trans %}Don’t have an account?{% endtrans %}
          <a id="register-link" href="#">{% trans %}Register now{% endtrans %}</a></p>
      </div>
      <div class="signup-container">
        <div class="signup-info">
          <p>
            {% trans %}
              Welcome to Women in Displacement. Please create an account to access all content or to upload documents to
              the platform.
            {% endtrans %}
          </p>
        </div>
        <div class="signup-form">
          {{ content.register_form }}
        </div>
        <p class="register">
          {% trans %}Already have an account? {% endtrans %}
          <a id="login-link" href="#">{% trans %}Login{% endtrans %}</a>
        </p>
      </div>
    </div>
  </div>
</div>
