#page-wrapper {
  #page {
    .site-footer {
      background: $primary-color-dark !important;
      padding: 56px 0 21px !important;

      .site-footer__top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.23);
        padding-bottom: 48px;

        .region {
          .block {
            h2 {
              font-size: $font-size-text-alt;
              color: #ffffff;
              font-family: $font-raleway-sans;
              padding-bottom: 20px;
              font-weight: bold;
              line-height: 1.18;
              margin-bottom: 0;
            }

            .content {
              p {
                font-size: $font-size-text-sm;
                color: $white-80;
                margin-bottom: 25px;
              }
            }

            .newsletter-block {
              .subscribe-text {
                font-size: $font-size-text-sm;
                font-weight: 400;
                color: $white-80;
              }
            }

            form {
              padding-top: 20px;
              display: flex;

              input {
                border-radius: 10px;
                box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.12);
                background-color: #ffffff;
                border: none;
                display: none;
              }

              .email-input {
                display: block;
                padding: 13px 15px;
                width: 257px;
                font-size: $font-size-text-sm;
                color: $primary-color;
                border-radius: 4px 0 0 4px;
                outline: none;

                &:focus {
                  outline: none;
                }

                &::placeholder {
                  color: $gray-300;
                }
              }

              .btn-signup {
                display: block;
                padding: 9px 15px;
                margin-left: 0;
                border-radius: 0 4px 4px 0;
                box-shadow: none;
                background-color: #836AD0;
                border: none;
                color: #fff;
                transition: .4s;

                i {
                  font-size: $font-size-text-alt;
                  color: $white;
                }

                &:hover {
                  transform: scale(1.05);
                }
              }
            }
          }

          nav {
            ul {
              li {
                margin-bottom: 19px;

                &:last-child {
                  margin-bottom: 0;
                }

                a {
                  font-size: $font-size-text-sm;
                  color: $white-80;
                  padding: 0;

                  &:hover, &:focus {
                    color: $white;
                  }
                }
              }
            }
          }

          .block-social-media-links-block {
            ul {
              li {
                padding: 0 !important;
                margin-right: 20px !important;

                a {
                  span {
                    font-size: $font-size-title-sm;
                    color: $white-80;
                    transition: .2s;
                    padding: 0;

                    &:hover {
                      color: $white
                    }
                  }
                }
              }
            }
          }

          .faq-footer {
            .content {
              .footer-faq {
                .field__item {
                  display: flex;
                  flex-wrap: wrap;

                  .faq-form-row {
                    input {
                      display: block;
                      width: 257px;
                      padding: 13px 15px;
                      font-size: $font-size-text-sm;
                      color: $primary-color;
                      border-radius: 4px 0 0 4px;
                      outline: none;
                      border: none;
                      flex: 0 0 85%;
                      max-width: 100%;

                      &:focus {
                        outline: none;
                      }

                      &::placeholder {
                        color: $gray-300;
                      }
                    }

                    a {
                      display: block;
                      margin: 0 !important;
                      padding: 9px 15px;
                      border-radius: 0 4px 4px 0;
                      box-shadow: none;
                      background-color: #836AD0;
                      border: none;
                      color: #fff;
                      transition: .4s;

                      &:hover {
                        transform: scale(1.05);
                      }

                      i {
                        font-size: $font-size-text-alt;
                        color: $white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .site-footer__bottom {
        margin-top: 28px;

        .region {
          .block {
            margin: 0;
            .content {
              padding: 0;
              p {
                font-size: 13px;
                font-weight: 200;
                line-height: 19px;
                color: #ffffff;
                text-align: left;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

// Responsive
@media (min-width: 320px) and (max-width: 480px) {
  #page-wrapper {
    #page {
      .site-footer {
        .site-footer__top {
          flex-direction: column;
          padding-bottom: 50px;
          align-items: center;
          text-align: center;

          .region {
            margin: 25px 0;
          }
        }

        .site-footer__bottom {
          .region {
            .block {
              .content {
                p {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #page-wrapper {
    #page {
      .site-footer {
        .site-footer__top {
          flex-direction: column;
          padding-bottom: 50px;
          align-items: center;
          text-align: center;

          .region {
            margin: 25px 0;
          }
        }

        .site-footer__bottom {
          .region {
            .block {
              .content {
                p {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #page-wrapper {
    #page {
      .site-footer {
        .site-footer__top {
          flex-direction: column;
          padding-bottom: 50px;
          align-items: center;
          text-align: center;

          .region {
            margin: 25px 0;
          }
        }

        .site-footer__bottom {
          .region {
            .block {
              .content {
                p {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  #page-wrapper {
    #page {
      .site-footer {
        .site-footer__top {
          flex-direction: column;
          padding-bottom: 50px;
          align-items: center;
          text-align: center;

          .region {
            margin: 25px 0;
          }
        }

        .site-footer__bottom {
          .region {
            .block {
              .content {
                p {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
