#content {
  padding: 0;
}

.container {
  max-width: 90%;
}

.row {
  margin: 0;
}

#page-wrapper {
  #page {
    header {
      #navbar-top {
        display: none;
      }

      .bg-primary {
        background: $primary-color !important;
      }

      nav {
        a {
          img {
            height: 75px;
            width: auto;
            object-fit: contain;
          }
        }

        .navbar-nav {
          margin-right: 100px;

          li {
            a {
              font-family: $font-raleway;
              font-size: $font-size-base;
              font-weight: 600;
              line-height: 1.18;
              color: #ffffff !important;
              transition: 0.4s;

              &:hover {
                color: #000 !important;
              }
            }
          }
        }

        form {
          .form-row {
            .js-form-item {
              margin: 0;

              .form-text {
                margin: 0;
              }

              label {
                display: none;
              }

              #edit-search-api-fulltext {
                border-radius: 25px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
              }
            }

            .form-actions {
              display: none;
            }
          }

          .form-actions {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #page-wrapper {
    #page {
      header {
        nav {
          a {
            img {
              height: 50px;
              width: auto;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #page-wrapper {
    #page {
      header {
        nav {
          a {
            img {
              height: 50px;
              width: auto;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #page-wrapper {
    #page {
      header {
        nav {
          a {
            img {
              height: 50px;
              width: auto;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
