html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

#content {
  padding: 0;
}

.row {
  margin: 0;
}

.navbar-brand {
  filter: brightness(10);
}

body {
  &.scrolled {
    #navbar-main {
      padding: 0px 20px !important;
    }
  }

  #page-wrapper {
    #page {
      header {
        position: sticky;
        top: 0;
        z-index: 9;

        #navbar-top {
          display: none;
        }

        .bg-primary {
          background: $primary-color !important;
        }

        nav {
          padding: 20px 20px;
          transition: 0.3s;

          a {
            img {
              height: 55px;
              width: auto;
              object-fit: contain;
            }
          }

          .navbar-nav {
            margin-right: 100px;

            .nav-item {
              margin: 0 16px;

              a {
                font-family: $font-raleway;
                font-size: $font-size-text-alt;
                font-weight: $font-weight-semibold;
                line-height: 1.18;
                transition: 0.2s;
                color: #ffffff;
                padding-left: 0;
                padding-right: 0;
                display: inline-block;
              }

              &:hover {

                a {
                  transform: translateY(-2px);
                }
              }

              &.active {

                a {
                  font-weight: $font-weight-semibold;
                }
              }

              .nav-link {
                &.active {
                  border-bottom: 3px solid white;
                }
              }
            }
          }

          .user-auth-info {
            float: left;

            .navbar-nav {
              margin: 0;

              .dropdown-menu {
                left: unset;
                right: 0;
                padding: 20px 0;
                background-color: $primary-color-light;

                a {
                  color: $primary-color;
                  padding: 4px 20px;
                  margin: 4px 0;

                  &:hover {
                    color: $primary-color-dark !important;
                  }
                }
              }
            }
          }

          form {
            .form-row {
              .js-form-item {
                margin: 0;
                position: relative;

                .form-text {
                  margin: 0;
                }

                label {
                  display: none;
                }

                #edit-search-api-fulltext {
                  width: 240px;
                  padding-left: 40px;
                  border-radius: 25px;
                  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                  background-color: #ffffff;
                }
              }

              .form-actions {
                display: none;
              }
            }

            .form-actions {
              margin: 0;
            }
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    #page-wrapper {
      #page {
        header {
          nav {
            a {
              img {
                height: 50px;
                width: auto;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    #page-wrapper {
      #page {
        header {
          nav {
            a {
              img {
                height: 50px;
                width: auto;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    #page-wrapper {
      #page {
        header {
          nav {
            a {
              img {
                height: 50px;
                width: auto;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}
