.account-wrapper {
  background: url('../images/login-background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;

  h2 {
    font-family: $font-raleway;
    font-size: $font-size-text-alt;
    font-weight: 600;
    line-height: 1.2;
    color: #ffffff;
    background-color: $primary-color;
    display: inline-block;
    padding: 10px 75px;
    margin: 50px 0 75px;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(59, 54, 54, 0.16);
  }

  .account-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 50px;

    .login-container {
      border-radius: 20px;
      background-color: #ffffff;
      padding: 50px 0;
      flex: 1;

      .login-title {
        width: 70%;
        margin: 0 auto;

        h3 {
          font-family: $font-raleway;
          font-size: $font-size-title-sm;
          font-weight: 600;
          line-height: 1.21;
          color: $primary-color;
          margin: 0;
          padding-bottom: 20px;
        }
      }

      .login-info {
        width: 70%;
        margin: 0 auto;

        p {
          font-family: $font-lato;
          font-size: $font-size-text;
          font-weight: normal;
          line-height: 1.22;
          color: $primary-color;
          margin: 0;
        }
      }

      .login-form {
        width: 70%;
        margin: 0 auto;

        form {
          label {
            font-family: $font-lato;
            font-size: $font-size-text-alt;
            font-weight: bold;
            line-height: 1.2;
            color: $primary-color;
            display: block;
            margin-top: 25px;
          }

          input {
            border-radius: 20px;
            background-color: #fafafa;
            padding: 7px 25px;
            border: none;
            width: 100%;
          }

          .login-button {
            margin-top: 15px;

            button {
              font-family: $font-lato;
              font-size: $font-size-base;
              font-weight: normal;
              line-height: 0.69;
              color: #ffffff;
              border-radius: 10px;
              background-color: $primary-color;
              border: none;
              padding: 10px 15px;

              i {
                font-size: $font-size-xs;
                color: #ffffff;
                margin-left: 15px;
              }
            }
          }
        }

        .login-with-container {
          text-align: center;
          margin-top: 50px;

          p {
            font-family: $font-lato;
            font-size: $font-size-base;
            font-weight: normal;
            line-height: 1.19;
            color: $primary-color;
          }

          .login-with-image {
            img {
              height: 50px;
              width: auto;
              object-fit: contain;
            }
          }

          .forget-password {
            margin-top: 35px;

            a {
              font-weight: bold;
            }
          }
        }
      }
    }

    .signup-container {
      border-radius: 20px;
      background-color: #ffffff;
      padding: 50px 0 100px;
      flex: 1;

      .signup-title {
        width: 70%;
        margin: 0 auto;

        h3 {
          font-family: $font-raleway;
          font-size: $font-size-title-sm;
          font-weight: 600;
          line-height: 1.21;
          color: $primary-color;
          margin: 0;
          padding-bottom: 20px;
        }
      }

      .signup-info {
        width: 70%;
        margin: 0 auto;

        p {
          font-family: $font-lato;
          font-size: $font-size-text;
          font-weight: normal;
          line-height: 1.22;
          color: $primary-color;
          margin: 0;
        }
      }

      .signup-form {
        width: 70%;
        margin: 0 auto;

        form {
          label {
            font-family: $font-lato;
            font-size: $font-size-text-alt;
            font-weight: bold;
            line-height: 1.2;
            color: $primary-color;
            display: block;
            margin-top: 25px;
          }

          input {
            border-radius: 20px;
            background-color: #fafafa;
            padding: 7px 25px;
            border: none;
            width: 100%;
          }

          .signup-button {
            margin-top: 15px;

            button {
              font-family: $font-lato;
              font-size: $font-size-base;
              font-weight: normal;
              line-height: 0.69;
              color: #ffffff;
              border-radius: 10px;
              background-color: $primary-color;
              border: none;
              padding: 10px 15px;

              i {
                font-size: $font-size-xs;
                color: #ffffff;
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}

// Responsive
@media (min-width: 320px) and (max-width: 480px) {
  .account-wrapper {
    padding: 50px 0;

    h2 {
      padding: 10px 30px;
    }

    .account-container {
      flex-direction: column;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .account-wrapper {
    .account-container {
      flex-direction: column;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .account-wrapper {
    .account-container {
      flex-direction: column;
      align-items: normal;
    }
  }
}
