.account-wrapper {
  background-color: #EDF0F4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;

  .account-container {
    text-align: left;
    background-color: #ffffff;
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;

    .login-title {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #AAAAAA;

      h3 {
        font-family: $font-raleway;
        font-size: $font-size-text;
        font-weight: 600;
        line-height: 1.21;
        color: #AAAAAA;
        margin: 0;
        padding: 20px 0;
        flex: 1;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }

      .active {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }

    .login-container {
      padding: 50px 0;
      width: 70%;
      margin: 0 auto;


      .login-info {

        p {
          font-family: $font-opensans;
          font-size: $font-size-text-sm;
          font-weight: normal;
          line-height: 1.22;
          color: #272727;
          margin: 0;
          text-align: center;
        }
      }

      .login-form {

        form {
          label {
            font-family: $font-opensans;
            font-size: $font-size-text-sm;
            font-weight: normal;
            line-height: 1.2;
            color: #272727;
            display: block;
            margin-top: 25px;
          }

          input {
            border-radius: 4px;
            background-color: #EDF0F4;
            padding: 7px 25px;
            border: none;
            width: 100%;
          }

          .login-button {
            margin-top: 20px;
            box-shadow: 5px 10px 20px #0000000A;

            button {
              font-family: $font-opensans;
              font-size: $font-size-text-sm;
              font-weight: 600;
              line-height: 0.69;
              color: #ffffff;
              border-radius: 4px;
              background-color: $primary-color;
              border: none;
              padding: 16px 15px;
              width: 100%;

              i {
                font-size: $font-size-xs;
                color: #ffffff;
                margin-left: 15px;
              }
            }
          }
        }
      }

      .login-with-container {
        text-align: center;
        width: 80%;
        margin: 20px auto;
        background-color: #EDF0F4;

        .login-with-image {
          .login-with {
            font-family: $font-opensans;
            font-size: $font-size-text-sm;
            font-weight: 600;
            line-height: 1.19;
            color: #272727;
            margin: 0 15px 0 0;
          }

          img {
            height: 35px;
            width: 150px;
            object-fit: contain;
          }

          .block-social-auth-login {
            display: inline-block;
          }
        }
      }

      .or {
        font-family: $font-opensans;
        font-size: $font-size-text-sm;
        font-weight: normal;
        line-height: 1.22;
        color: #272727;
        margin: 0;
        text-align: center;
      }

      .forget-password {
        margin-top: 10px;
        text-align: right;

        a {
          font-family: $font-opensans;
          font-size: $font-size-text-sm;
          font-weight: normal;
          line-height: 1.22;
          color: #272727;
          margin: 0;
        }
      }

      .register-now {
        margin-top: 45px;
        text-align: center;
        font-family: $font-opensans;
        font-size: $font-size-text-sm;
        font-weight: normal;
        line-height: 1.22;
        color: #272727;

        a {
          font-family: $font-opensans;
          font-size: $font-size-text-sm;
          font-weight: bold;
          line-height: 1.22;
          color: $primary-color;
          margin: 0;
        }
      }
    }

    .signup-container {
      padding: 50px 0 100px;
      display: none;

      .signup-info {
        width: 70%;
        margin: 0 auto;

        p {
          font-family: $font-opensans;
          font-size: $font-size-text-sm;
          font-weight: normal;
          line-height: 1.22;
          color: #272727;
          margin: 0;
          text-align: center;
        }
      }

      .signup-form {
        width: 70%;
        margin: 0 auto;

        form {
          label {
            font-family: $font-opensans;
            font-size: $font-size-text-sm;
            font-weight: normal;
            line-height: 1.2;
            color: #272727;
            display: block;
            margin-top: 25px;
          }

          input {
            border-radius: 4px;
            background-color: #EDF0F4;
            padding: 7px 25px;
            border: none;
            width: 100%;
          }

          .signup-button {
            margin-top: 20px;
            box-shadow: 5px 10px 20px #0000000A;

            button {
              font-family: $font-opensans;
              font-size: $font-size-text-sm;
              font-weight: 600;
              line-height: 0.69;
              color: #ffffff;
              border-radius: 4px;
              background-color: $primary-color;
              border: none;
              padding: 16px 15px;
              width: 100%;

              i {
                font-size: $font-size-xs;
                color: #ffffff;
                margin-left: 15px;
              }
            }
          }
        }
      }

      .register {
        margin-top: 45px;
        text-align: center;
        font-family: $font-opensans;
        font-size: $font-size-text-sm;
        font-weight: normal;
        line-height: 1.22;
        color: #272727;

        a {
          font-family: $font-opensans;
          font-size: $font-size-text-sm;
          font-weight: bold;
          line-height: 1.22;
          color: $primary-color;
          margin: 0;
        }
      }
    }
  }
}

// Responsive
@media (min-width: 320px) and (max-width: 480px) {
  .account-wrapper {
    padding: 50px 0;

    h2 {
      padding: 10px 30px;
    }

    .account-container {
      flex-direction: column;
      width: 100%;

      .login-container {
        .login-with-container {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .account-wrapper {
    .account-container {
      flex-direction: column;
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .account-wrapper {
    .account-container {
      flex-direction: column;
      align-items: normal;
      width: 85%;
    }
  }
}
