.article-wrapper {
  margin-top: 50px;

  .article-nav-container {
    .article-nav {
      span {
        a {
          font-family: $font-raleway;
          font-size: $font-size-base;
          font-weight: bold;
          color: $primary-color;
        }

        i {
          font-size: $font-size-base;
          color: $primary-color;
          margin-right: 10px;
        }
      }
    }
  }

  .news-button {
    margin-top: 35px;

    ul {
      li {
        font-family: $font-opensans;
        font-size: $font-size-xs;
        font-weight: bold;
        line-height: 0.67;
        color: $primary-color;
        display: inline-block;
        padding: 12px 20px;
        border-radius: 4px;
        background-color: #E8E7ED;
        margin-right: 5px;
        text-transform: uppercase;
      }
    }
  }

  .article-title {
    h2 {
      font-family: $font-raleway;
      font-size: 35px;
      font-weight: $font-weight-semibold;
      line-height: 1.38;
      color: #272727;
      margin: 5px 0;
    }
  }

  .article-social-media-wrapper {
    display: flex;
    align-items: center;
    padding: 25px 0;

    .date {
      display: inline-block;
      padding-right: 20px;
      border-right: 1px solid #8E8E8E;

      p {
        font-family: $font-opensans;
        font-size: $font-size-text;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.35);
        margin: 0;
      }
    }

    .social-contact {
      display: inline-block;
      margin-right: 35px;

      i {
        color: rgba(0, 0, 0, 0.35);
        font-size: $font-size-text;
        padding: 0 5px;
      }
    }

    .social-media {
      display: inline-block;
      padding-left: 20px;

      i {
        color: $primary-color;
        font-size: $font-size-text;
        padding: 0 5px;
      }
    }
  }


  .news-wrapper {
    margin: 25px 0 50px;

    .news-title {
      h3 {
        font-family: $font-opensans;
        font-size: $font-size-text-alt;
        font-weight: bold;
        line-height: 1.35;
        color: #333333;
        margin: 25px 0;
      }
    }

    .news-desc {
      overflow: auto;

      figcaption {
        font-size: 12px;
        font-weight: 600;
      }
      .align-right{
        margin:15px 0px 15px 35px;
      }
      .align-left{
        margin:15px 35px 15px 0px;
      }
    }
  }

  .more-article-wrapper {
    margin: 75px 0 0;
    background-color: #EDF0F4;
    padding: 75px 0;

    .more-article-button {
      text-align: center;

      h3 {
        font-family: $font-raleway;
        font-size: 35px;
        font-weight: $font-weight-semibold;
        line-height: 1.2;
        color: #2A3749;
        padding: 12px 50px;
        border-radius: 20px;
      }
    }

    .card-groups {
      flex: 4;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-top: 50px;

      .single-card {
        background: #ffffff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        width: calc(33.33% - 20px);
        margin: 10px 0;
        overflow: hidden;

        &:hover {
          box-shadow: 5px 10px 20px #0000001F;
        }

        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
          padding: 5px;
          border-radius: 8px;
        }

        h2 {
          font-family: $font-raleway;
          font-size: $font-size-text-sm;
          font-weight: 700;
          line-height: 1.43;
          color: $primary-color;
          padding: 10px 25px 0;
          margin-bottom: 5px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          font-family: $font-opensans;
          font-size: $font-size-xs;
          font-weight: normal;
          line-height: 1.5;
          color: #272727;
          margin: 10px 25px 0px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          font-family: $font-opensans;
          font-size: $font-size-xs;
          font-weight: 400;
          color: #8E8E8E;
          padding: 10px 25px 15px;
          display: inline-block;
        }

        .download-section {
          padding: 15px 25px 20px;

          span {
            font-family: $font-opensans;
            font-size: 10px;
            font-weight: normal;
            line-height: 1.5;
          }

          .download {
            a {
              text-decoration: none;
              color: $accent-color;
              float: right;
            }
          }
        }
      }
    }
  }
}


// Responsive
@media (min-width: 320px) and (max-width: 480px) {
  .article-wrapper {
    .article-title {
      h2 {
        font-size: $font-size-title-sm;
      }
    }
    .news-wrapper{
      .news-desc{
        .align-left, .align-right{
          margin: 15px 0;
        }
      }
    }

    .more-article-wrapper {
      padding: 50px 0;

      .card-groups {
        flex-direction: column;

        .single-card {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .article-wrapper {
    .article-title {
      h2 {
        font-size: $font-size-title;
      }
    }
    .news-wrapper{
      .news-desc{
        .align-left, .align-right{
          margin: 15px 0;
        }
      }
    }

    .more-article-wrapper {
      .card-groups {
        .single-card {
          width: 100%;

          img {
            height: 250px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .article-wrapper {
    .more-article-wrapper {
      .card-groups {
        .single-card {
          width: 100%;

          img {
            height: 350px;
          }
        }
      }
    }
  }
}
