.global-report-wrapper {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px rgba(198, 198, 198, 0.15);
  border-radius: 20px;

  .global-report-container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 75px 0;

    h2 {
      font-family: $font-raleway;
      font-size: $font-size-title-sm;
      font-weight: 600;
      line-height: 1.16;
      color: $accent-color;
      padding-bottom: 50px;
      width: 80%;
      margin: 0 auto;
    }

    p {
      font-family: $font-lato;
      font-size: $font-size-text;
      font-weight: normal;
      line-height: 1.23;
      color: $primary-color;
      width: 80%;
      margin: 0 auto;
    }

    .global-report-button {
      background: $accent-color;
      text-align: center;
      padding: 4px 0;
      box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.16);
      border: solid 1px rgba(102, 65, 65, 0.15);
      border-radius: 10px;
      margin-top: 50px;

      a {
        color: #ffffff;
        font-family: $font-lato;
        font-size: $font-size-text-sm;
        font-weight: normal;
        line-height: 0.65;

        i {
          color: #ffffff;
          margin-left: 15px;
          font-size: $font-size-text-sm;
        }
      }
    }
  }

  .global-report-image {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0 20px 20px 0;
    }
  }
}
