.global-report-wrapper {
  background-color: $gray-200;
  text-align: center;

  .global-report-container {
    padding: 75px 0;

    h2 {
      font-family: $font-raleway;
      font-size: $font-size-xxl-alt;
      font-weight: 700;
      line-height: 1.16;
      color: $blue-dark;
      padding-bottom: 35px;
      width: 80%;
      margin: 0 auto;
    }

    p {
      font-family: $font-opensans;
      font-size: $font-size-base;
      font-weight: normal;
      line-height: 1.23;
      color: $gray-900;
      width: 70%;
      margin: 0 auto;
    }

    a {
      text-decoration: none;
      display: flex;

      .global-report-button {
        background: transparent;
        padding: 14px 25px;
        border-radius: 4px;
        margin-top: 25px;
        color: $primary-color;
        border: 1px solid $primary-color;
        font-family: $font-opensans;
        font-size: $font-size-text-sm;
        font-weight: 600;
        line-height: 0.65;
        transition: 0.4s;
        width: unset;
      }

      &:hover .global-report-button {
        color: #ffffff;
        background: $primary-color;
        border: 1px solid #ffffff;
      }
    }
  }
}


// Responsive
@media (min-width: 320px) and (max-width: 480px) {
  .global-report-wrapper {

    .global-report-container {
      padding: 75px 0;

      h2 {
        font-size: $font-size-title-sm;
        width: 100%;
      }

      p {
        width: 100%;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .global-report-wrapper {

    .global-report-container {
      padding: 75px 0;

      h2 {
        font-size: $font-size-title;
        width: 100%;
      }

      p {
        width: 80%;
      }
    }
  }
}
