.our-single-report-header {
  background: $gray-200;
  padding: 55px 16px 95px;
  width: 100%;
}

.our-single-report-header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

.our-single-report-header-nav-item {
  margin-bottom: 4px;
  width: 100%;

  a {
    display: inline-block;
    font-weight: bold;
    color: $gray-900;
    line-height: 19px;
    padding: 8px 32px !important;
  }
}

.our-single-report-header-card {
  padding-top: 60px;
}

.country-report-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px -24px;
}

.country-report-cover-image {
  width: 50%;
  padding: 0 16px;
  margin-bottom: 24px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.country-report-description {
  width: 50%;
  padding: 0 16px;
  margin-bottom: 24px;
}

.our-single-file-doc-wrap {
  img {
    height: 16px;
  }
}

.our-single-country-file {
  margin-right: 20px;
}
.country-report-title {
  font-size: 35px;
  margin-bottom: 80px;
  font-weight: bold;
  color: $blue-dark;
  font-family: $font-raleway-sans;
  text-align: center;

  @media only screen and (min-width: 1200px) {
    font-size: 50px;
    line-height: 48px;
  }
}

.country-report-description-body {
  p {
    margin: 0;
    color: $gray-900;
    line-height: 26px;
  }
}

.our-single-country-report-block {
  width: 100%;
  padding: 70px 0;

  .our-single-report-header-nav {
    display: none;
  }
}

.our-single-country-scroll-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13px -26px;
}

.our-single-country-views-row {
  width: 100%;
  padding: 0 13px;
  margin-bottom: 26px;

  @media only screen and (min-width: 992px) {
    width: 50%;
  }

  > div {
    padding: 22px 25px;
    background: #f2f2f4;
    border-radius: 8px;
    height: 100%;

    .our-single-report-title {
      font-size: 18px;
      line-height: 28px;
      font-weight: bold;
      font-family: $font-raleway-sans;
      margin-bottom: 17px;
    }

    .our-single-report-title-description {
      font-size: 13px;
      line-height: 21px;
      color: $gray-900;
      margin-bottom: 17px;
    }
  }
}

.our-single-country-content-view {
  > div {
    display: flex;
    align-items: center;
  }

  .download-button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    display: inline-block;

    span {
      width: 33px;
      height: 33px;
      border: solid 1px $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 auto 8px;
    }
  }

  .our-single-country-date {
    font-size: 12px;
    color: #8e8e8e;
    font-weight: 600;
  }
}
.our-single-country-image {
  margin-bottom: 16px;
  border-radius: 4px;
  width: 100%;
  object-fit: cover;
}

.our-single-country-content-right-view {
  text-align: center;
}

.our-single-country-content-left-view {
  padding-right: 30px;
  @media only screen and (min-width: 992px) {
    padding-right: 52px;
  }
}

.single-country-gallery-background {
  width: 100%;
  background: $gray-200;
  padding: 30px 0;

  @media only screen and (min-width: 992px) {
    padding: 70px 0 120px;
  }

  h2 {
    font-family: $font-raleway-sans;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 0.7px;
    text-align: center;
    color: $blue-dark;
    margin-bottom: 30px;

    @media only screen and (min-width: 992px) {
      font-size: 35px;
      margin-bottom: 70px;
    }
  }
}

.fotorama__wrap.fotorama__wrap--slide {
  margin: 0 auto;
  background: #fff;
  padding: 17px;
  border-radius: 4px;
}
