.highlight-wrapper {
  width: 100%;
  padding: 40px 0;
  background: $gray-200;

  @media only screen and (min-width: 1024px) {
    padding: 80px 0 60px;
  }

  .highlight-title {
    text-align: center;
    padding: 0 16px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    color: $blue-dark;
    font-family: $font-raleway-sans;

    @media only screen and (min-width: 1200px) {
      font-size: 50px;
      line-height: 49px;
      margin-bottom: 60px;
    }
  }
}

.highlight-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px -24px;
}

.highlight-image-container {
  padding: 0 8px;
  width: 100%;
  margin-bottom: 24px;

  @media only screen and (min-width: 992px) {
    width: 33.33%;
  }

  @media only screen and (min-width: 1200px) {
    width: 25%;

    &.resources-highlights2 {
      width: 50%;
    }
  }

  >div {
    padding: 8px 8px 18px;
    border-radius: 8px;
    background: $white;
    height: 100%;
    box-shadow: 5px 10px 20px #00000005;
    transition: all 0.23s;

    &:hover,
    &:focus {
      box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.12);
      transition: all 0.23s;
    }

    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      margin: 0;

      @media only screen and (min-width: 1200px) {
        height: 242px;
      }
    }

    p {
      font-size: 15px;
      line-height: 23px;
      font-weight: bold;
      margin: 17px 0 0;
      padding: 0 14px;
      display: -webkit-box;
      font-family: $font-raleway-sans;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: $primary-color
    }
  }
}

.resource-mission-wrapper {
  padding: 70px 0;
  width: 100%;
}

.resource-mission-container {
  h2 {
    font-size: 35px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    color: #2A3749;
    margin-bottom: 70px;
    font-family: $font-raleway-sans;
  }
}

.resource-initiative-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resource-initiative-wrapper {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: block;
    border: 1px solid #DBD9E3;
    border-radius: 8px;
    padding: 12px 10px;
    background: $white;
    transition: all 0.23s ease-in-out;

    &:hover,
    &:focus {
      border-color: $primary-color;
      background: $primary-color;
      transition: all 0.23s ease-in-out;
      box-shadow: 2px 5px 15px #00000029;

      .resource-initiative-logo {
        >div {
          background: $white;
        }

        p {
          color: $white;
        }
      }

      .resource-initiative-arrow {
        color: $accent-color;
      }
    }
  }
}

.resource-initiative-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  >div {
    background: #F6F5F8;
    padding: 9px;
    border-radius: 4px;
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 44px;
    margin-bottom: 16px;

    @media only screen and (min-width: 992px) {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  p {
    font-size: 16px;
    color: $gray-900;
    letter-spacing: 0.32px;
    font-weight: bold;
    font-family: $font-raleway-sans;
    margin: 0;
  }
}

.resource-initiative-arrow {
  padding-right: 22px;
  color: $blue-dark;
  font-size: 20px;
  line-height: 20px;
}

.our-key-content {
  padding-top: 30px;

  @media only screen and (min-width: 1024px) {
    padding: 70px 0 0;
  }

  .card-groups {
    margin: 0 0 40px;
  }

  .our-key-cards-title {
    font-size: 24px;
    font-weight: bold;
    color: $blue-dark;
    line-height: 32px;
    font-family: $font-raleway-sans;
    margin-bottom: 25px;
  }

  .single-card {
    width: 100%;

    >div {
      background: #fff;
      border: 1px solid #E5E5E5;
      padding: 8px 8px 18px;
      border-radius: 8px;
      min-height: 334px;

      img {
        width: 100%;
        height: 155px;
        object-fit: cover;
        border-radius: 4px;
        display: inline-block;
      }
    }

    h2 {
      font-size: 14px;
      color: $primary-color;
      font-weight: bold;
      line-height: 20px;
      margin-top: 21px;
      padding: 0 12px;
      margin-bottom: 8px;
      font-family: $font-raleway-sans;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: 40px;
    }

    p {
      font-size: 12px;
      color: #272727;
      line-height: 16px;
      padding: 0 12px;
      margin-bottom: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: 32px;
    }

    .date,
    span {
      font-size: 12px;
      color: #8E8E8E;
      padding: 0 12px;
    }
  }

  .download-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      display: inline-block;
      background: #EDF0F4;
      padding: 7px 19px;
      border-radius: 30px;
      font-size: 11px;
      text-transform: uppercase;
      transition: all 0.23s;

      &:hover,
      &:focus {
        background: $primary-color;
        color: #fff;
        transition: all 0.23s;
      }

      .fa {
        margin-right: 6px;
      }
    }
  }
}

.resources-media-wrapper {
  width: 100%;
  padding: 40px 0;
  background: $gray-200;

  @media only screen and (min-width: 1024px) {
    padding: 80px 0 60px;
  }

  .resources-media-container h2 {
    text-align: center;
    padding: 0 16px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    color: $blue-dark;
    font-family: $font-raleway-sans;

    @media only screen and (min-width: 1200px) {
      font-size: 50px;
      line-height: 49px;
      margin-bottom: 60px;
    }
  }
}

.resources-video-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -24px;

  .resources-main-video {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 24px;

    @media only screen and (min-width: 1200px) {
      width: 60%;
    }

    >div {
      background: #fff;
      padding: 8px 8px 18px;
      border-radius: 8px;
      box-shadow: 5px 10px 20px #00000005;
      height: 100%;
    }

    h3 {
      margin: 0 0 12px;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      padding: 14px 18px 0;
      font-family: $font-raleway-sans;
    }

    p {
      font-size: 14px;
      padding: 0 18px;
      margin: 0 0 12px;
    }

    span {
      font-size: 12px;
      padding: 0 18px;
      color: #8E8E8E;
    }

    .media-oembed-content,
    video {
      @media only screen and (min-width: 1200px) {
        height: 587px;
      }
    }
  }

  .resources-video-list {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1200px) {
      width: 40%;
    }

    >div {
      background: #fff;
      padding: 8px 8px 18px;
      border-radius: 8px;
      box-shadow: 5px 10px 20px #00000005;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      margin: 0 0 12px;
      font-size: 14px;
      font-weight: bold;
      padding: 10px 18px 0;
      font-family: $font-raleway-sans;
    }

    p {
      font-size: 14px;
      padding: 0 18px;
      margin: 0 0 12px;
    }

    span {
      font-size: 12px;
      padding: 0 18px;
      color: #8E8E8E;
    }

    .media-oembed-content,
    video {
      @media only screen and (min-width: 1200px) {
        height: 153px;
      }
    }
  }

  .media-oembed-content,
  video {
    width: 100%;
    border-radius: 4px;
  }
}

.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  left: 0;
  right: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  opacity: 1;
  margin: 0;
  cursor: pointer;

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.owl-prev {
  position: relative;
  left: -20px;
}

.owl-next {
  position: relative;
  right: -20px;
  cursor: pointer;

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.carousel-card-button {
  width: 38px;
  height: 38px;
  background: $white;
  color: $primary-color;
  box-shadow: 2px 5px 15px #00000029;
  border-radius: 4px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  margin: 0;
  border-radius: 4px !important;
  background: $white;

  .carousel-card-button {
    background: $primary-color;
    color: $white;
  }
}

.resource-add-button {
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 9;

  i {
    font-size: $font-size-title-sm;
    color: $primary-color;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.08);
    transition: 0.3s;
  }

  &:hover {
    i {
      background-color: $primary-color;
      color: #ffffff;
    }
  }
}
