.home-map-wrapper{
  background-size: cover;
  text-align: center;
}
.home-map-wrapper h2{
  font-family: "Raleway", sans-serif;;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.16;
  background-color: #ffffff;
  color: #556cff;
  display: inline-block;
  padding: 10px 75px;
  margin: 50px 0 20px;
  border-radius: 40px;
  box-shadow: 0 3px 6px 0 rgba(59, 54, 54, 0.16);
}
#wid-map {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

#map {
  margin-left: -8%;
}

.report-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
}

.report {
  border-radius: 20px;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 15px 60px 15px 30px;
  background-color: white;
  margin: 12px 0;
}
.report__active {
  background-color: #556cff;
  color: white;
}

.report-country {
  text-decoration: underline;
  font-weight: bold;
  color: #f7785d;
}

.report-title {
  font-size: 12px;
  font-weight: bold;
  color: #556cff;
}

.report-country-body {
  font-size: 12px;
}

.report-body {
  font-size: 10px;
}

.marker {
  fill: #556cff;
  transition: all 0.2s ease-in-out;
}
.marker__active {
  fill: #f7785d;
}
.marker:hover {
  fill: #f7785d;
  fill-opacity: 1;
  cursor: pointer;
}

/* Responsive */
@media (min-width: 320px) and (max-width: 480px) {
  .home-map-wrapper {
    min-height: 100vh;
    background-size: auto;
  }
  #wid-map {
    flex-direction: column;
  }
  #map {
    margin-left: 0;
  }
  .report-section {
    width: auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .home-map-wrapper {
    min-height: 100vh;
    background-size: auto;
  }
  #wid-map {
    flex-direction: column;
  }
  .report-section {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .report-section {
    width: auto;
    max-width: 40%;
  }
}
