<div class="account-wrapper">
    <div class="container">
      <h2>Login  or Create an account</h2>
      <div class="account-container">
        <div class="login-container">
          <div class="login-title">
            <h3>Login</h3>
          </div>
          <div class="login-info">
            <p>Please login with your WiD account to access content or upload documents to the platform </p>
          </div>
          <div class="login-form">
            <form>
              <div class="login-email">
                <label for="login-email">Enter you email</label>
                <input type="email" id="login-email" name="login-email">
              </div>
              <div class="login-password">
                <label for="login-password">Enter you password</label>
                <input type="password" id="login-password" name="login-password">
              </div>
              <div class="login-button">
                <button class="login-button" id="login-button" name="login-button" type="submit">Enter<i class="fa fa-arrow-right"></i></button>
              </div>
            </form>
            <div class="login-with-container">
              <p class="login-with">Login with</p>
              <div class="login-with-image">
                <img src="https://picsum.photos/200/300">
              </div>
              <p class="forget-password"><a href="#">Forget your password?</a></p>
            </div>
          </div>
        </div>
        <div class="signup-container">
          <div class="signup-title">
            <h3>Create an account</h3>
          </div>
          <div class="signup-info">
            <p> Welcome to Women in Displacement. Please create an account to access all content or to upload documents to the platform. </p>
          </div>
          <div class="signup-form">
            <form>
              <div class="signup-name">
                <label for="signup-name">Name</label>
                <input type="text" id="signup-name" name="signup-name">
              </div>
              <div class="signup-surname">
                <label for="signup-surname">Surname</label>
                <input type="text" id="signup-surname" name="signup-surname">
              </div>
              <div class="signup-organization">
                <label for="signup-organization">Name of your organisation </label>
                <input type="text" id="signup-organization" name="signup-organization">
              </div>
              <div class="signup-email">
                <label for="signup-email">Email</label>
                <input type="email" id="signup-email" name="signup-email">
              </div>
              <div class="signup-password">
                <label for="signup-password">Password</label>
                <input type="password" id="signup-password" name="signup-password">
              </div>
              <div class="signup-button">
                <button class="signup-button" id="signup-button" name="signup-button" type="submit">Sign up<i class="fa fa-arrow-right"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
