<div class="account-wrapper">
  <div class="container">
    <h2>{% trans %}Login or Create an account{% endtrans %}</h2>
    <div class="account-container">
      <div class="login-container">
        <div class="login-title">
          <h3>{% trans %}Login{% endtrans %}</h3>
        </div>
        <div class="login-info">
          <p>
            {% trans %}Please login with your WID account to access content or upload documents to the platform.{% endtrans %}
          </p>
        </div>
        <div class="login-form">
          {{ content.user_login_form }}
          <div class="login-with-container">
            <p class="login-with">{% trans %}Login with{% endtrans %}</p>
            <div class="login-with-image">
              {{ drupal_block('social_auth_login') }}
            </div>
            <p class="forget-password">{{ content.user_links['#items'].request_password }}?</p>
          </div>
        </div>
      </div>
      <div class="signup-container">
        <div class="signup-title">
          <h3>
            {% trans %}
              Create an account
            {% endtrans %}
          </h3>
        </div>
        <div class="signup-info">
          <p>
            {% trans %}
              Welcome to Women in Displacement. Please create an account to access all content or to upload documents to
              the platform.
            {% endtrans %}
          </p>
        </div>
        <div class="signup-form">
          {{ content.register_form }}
        </div>
      </div>
    </div>
  </div>
</div>
