.home-map-block {
  h2 {
    font-size: 24px;
    line-height: 32px;
    font-family: $font-raleway-sans;
    color: $blue-dark;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;

    @media only screen and (min-width: 1200px) {
      font-size: 35px;
      line-height: 48px;
      margin-bottom: 46px;
    }
  }

  .home-map-wrapper {
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
  }

  #wid-map {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }

  #map {
    margin-left: -8%;
  }

  .report-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;

    @media only screen and (min-width: 768px) {
      width: 75%;
    }

    @media only screen and (min-width: 1200px) {
      width: 25%;
    }
  }

  .report {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 8px 6px 0 rgba(0,0,0,.16);
    padding: 25px 22px;
    background-color: $primary-color;
    margin: 0 0 16px;
    text-align: left;
    color: #fff;

    &:last-child {
      margin-bottom: 0;
    }

    &.report__active {
      background: $white;
      .report-button {
        background: $accent-color;

        i {
          color: #ffffff;
        }
      }

      .report-country {
        color: $accent-color;
      }

      .report-body {
        color: $gray-900;
      }

      .report-country-body {
        color: $black;
      }
    }
  }

  .report-button {
    padding: 5px 15px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 99%;
    transition: 0.2s;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .report-button i {
    font-size: 23px;
    color: $primary-color;
  }

  .report-country {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 8px;
  }

  .report-title {
    font-size: 14px;
    text-decoration: none;
    line-height: 22px;
    color: #fff;
  }

  .report-title__active {
    color: $accent-color;
  }

  .report-country-body {
    font-size: $font-size-text-sm;
    margin-bottom: 0;
  }

  .report-body {
    font-size: 10px;
  }

  .marker {
    fill: $primary-color;
    transition: all 0.2s ease-in-out;
  }

  .marker__active {
    fill: $accent-color;
  }

  .marker:hover {
    fill: $accent-color;
    fill-opacity: 1;
    cursor: pointer;
  }
}


/* Responsive */
@media (min-width: 320px) and (max-width: 480px) {
  .home-map-wrapper {
    min-height: 100vh;
    background-size: auto;
  }
  #wid-map {
    flex-direction: column;
    padding-bottom: 24px;
  }
  #map {
    margin-left: 0;
  }
  .report-section {
    width: auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .home-map-wrapper {
    min-height: 100vh;
    background-size: auto;
  }
  #wid-map {
    flex-direction: column;
    padding-bottom: 24px;
  }
  .report-section {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .report-section {
    width: auto;
    max-width: 40%;
  }
}
