.block-views-blockpartners-block-1 {
  background: #EDF0F4;
  padding: 50px 0;
  @media only screen and (min-width: 1170px) {
    padding: 100px 0;
  }


  h2 {
    font-size: 24px;
    line-height: 32px;
    font-family: $font-raleway-sans;
    color: $blue-dark;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;

    @media only screen and (min-width: 1170px) {
      font-size: 35px;
      line-height: 48px;
      margin-bottom: 86px;
    }
  }
}

.partner-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .partner-single {
    margin-right: 50px;

    @media only screen and (min-width: 1170px) {
      margin-right: 130px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
  }

  img {
    height: 60px;
    display: inline-block;

    @media only screen and (min-width: 768px) {
      height: 80px;
    }

    @media only screen and (min-width: 1170px) {
      height: 107px;
    }
  }
}
