.our-mission-container {
  background-color: $primary-color;
  margin: 50px 0 50px 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  .our-mission {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    text-align: center;
    color: #ffff;

    h2 {
      font-size: $font-size-title-sm;
      font-family: $font-raleway;
      font-weight: 600;
      line-height: 1.18;
    }
    p{
      font-size: $font-size-base;
      font-family: $font-lato;
      line-height: 1.77;
    }

    .arrow-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-base;
      padding: 6px 35px;
      border-radius: 10px;
      background-color: $accent-color;
      color: #fff;

      i {
        margin-left: 15px;
        font-size: 14px;
      }
    }
  }
}
