.block-views-blockpartners-block-1 {
  text-align: center;
  background: #e8edff;
  padding: 75px 0 100px;

  h2 {
    font-family: $font-raleway;
    font-size: $font-size-section-title;
    font-weight: $font-weight-semibold;
    line-height: 1.16;
    color: #ffffff;
    background-color: $primary-color;
    display: inline-block;
    padding: 10px 75px;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(59, 54, 54, 0.16);
  }

  .partner-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;

    .partner-single {
      a {
        img {
          height: 120px;
          width: auto;
          object-fit: contain;
        }
      }
    }
  }
}

// Responsive
@media (min-width: 320px) and (max-width: 480px) {
  .views-element-container {
    .partner-wrapper {
      flex-direction: column;

      .partner-single {
        margin: 20px 0;

        a {
          img {
            height: 100px;
            width: auto;
            object-fit: contain;
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .views-element-container {
    .partner-wrapper {
      flex-direction: column;

      .partner-single {
        margin: 20px 0;

        a {
          img {
            height: 100px;
            width: auto;
            object-fit: contain;
          }
        }
      }
    }
  }
}
