.views-element-container {
  text-align: center;
  background: #e8edff;
  padding: 75px 0 100px;

  h2 {
    font-family: $font-raleway;
    font-size: $font-size-title-sm;
    font-weight: 600;
    line-height: 1.18;
    color: $primary-color;
    background-color: #ffffff;
    display: inline-block;
    padding: 7px 75px;
    border-radius: 40px;
    box-shadow: 0 3px 6px 0 rgba(59, 54, 54, 0.16);
  }

  .partner-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;

    .partner-single {
      a {
        img {
          height: 120px;
          width: auto;
          object-fit: contain;
        }
      }
    }
  }
}
