.our-method-container {
  background-color: $primary-color;
  margin: 50px 0 50px 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  .our-method {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    text-align: center;
    color: #fff;

    h2 {
      font-size: $font-size-title-sm;
      font-family: $font-raleway;
      font-weight: 600;
      line-height: 1.18;
    }

    p {
      font-size: $font-size-base;
      font-family: $font-lato;
      line-height: 1.77;
    }

    .arrow-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-base;
      padding: 6px 35px;
      border-radius: 10px;
      background-color:  #e8edff;
      color: $primary-color;

      i {
        margin-left: 15px;
        font-size: 14px;
      }
    }
  }
}

// Responsive
@media (min-width: 320px) and (max-width: 480px) {
  .our-method-container {
    margin: 25px 0;
    border-radius: 0;

    .our-method {
      padding: 20px 5px;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .our-method-container {
    border-radius: 0;
    .our-method {
      padding: 20px 5px;
    }

    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .our-method-container {
    border-radius: 0;
    .our-method {
      padding: 20px 5px;
    }

    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .our-method-container {
    border-radius: 0;
    .our-method {
      padding: 30px 50px;
    }

    img {
      height: 350px;
      width: 100%;
      object-fit: cover;
    }
  }
}
