{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<div class="faq-form-background">
  <div class="container">
    <div class="faq-form-card">
      <div class="faq-form-title pb-2">Still have a question?</div>
      <div class="faq-form-sub-title">Ask your question we will get back to you by email</div>
      <form{{ attributes.addClass('pt-5 faq-form-body') }}>
        {{ title_prefix }}
        {{ children }}
        {{ title_suffix }}
      </form>
    </div>
  </div>
</div>
