.block-wid-latest-news-features {
  padding: 40px 0px;
}
.featured-news {
  padding-left: 0 !important;
}
.latest-news {
  padding-right: 0 !important;
}
.featured-news .col-md-3,
.featured-news .col-md-4,
.featured-news .col-md-8,
.featured-news .col-md-9 {
  padding: 0 2px 2px;
}
.banner-wrapper {
  cursor: pointer;
}
.banner-desc {
  transition: 0.4s;
}
.banner-wrapper:hover .banner-desc {
  transform: translateY(-10px);
}
.banner-wrapper .banner-image img {
  height: 254px;
  width: 100%;
  object-fit: cover;
}
.banner-1 {
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}
.banner-3 {
  overflow: hidden;
  border-radius: 0px 20px 0 0;
}
.banner-5 {
  overflow: hidden;
  border-radius: 0 0 20px 0;
}
.banner-1 .banner-image img {
  height: 560px;
  width: 100%;
}
.banner-wrapper .banner-desc {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 0px 14px;
  display: flex;
  align-items: center;
  height: 50px;
}
.banner-1 .banner-desc {
  background-color: #e8edff;
  color: #556cff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.banner-1 .banner-desc p a {
  color: #556cff;
}
.banner-2 .banner-desc {
  background-color: #556cff;
  color: #ffffff;
}

.banner-2 .banner-desc p a {
  color: #ffffff;
}
.banner-3 .banner-desc {
  background-color: #e8edff;
  color: #556cff;
}

.banner-3 .banner-desc p a {
  color: #556cff;
}
.banner-4 .banner-desc {
  background-color: #556cff;
  color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.banner-4 .banner-desc p a {
  color: #ffffff;
}

.banner-5 .banner-desc {
  background-color: #e8edff;
  color: #556cff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.banner-5 .banner-desc p a {
  color: #556cff;
}
.banner-wrapper .banner-desc p {
  margin: 0;
  padding: 0;
}

.banner-wrapper .banner-desc p a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  text-decoration: none;
  display: block;
}

.latest-news-features-block .card-news .card-content {
  overflow: hidden;
  overflow-y: scroll;
}

.card-content::-webkit-scrollbar {
  width: 10px;
}
.card-content::-webkit-scrollbar-track {
  margin-top: 40px;
}
.card-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
}

.latest-news-features-block .card-news a {
  margin: 25px 0 0;
}

.latest-news-features-block .card-news a span {
  padding: 5px 20px;
  border-radius: 10px;
}

.latest-news-features-block .card-news a span i {
  margin-left: 15px;
}

.latest-news-features-block .card-news {
  flex-direction: column;
}

/* Responsive */
@media (min-width: 320px) and (max-width: 480px) {
  .banner-wrapper .banner-image img {
    height: 254px;
    width: 100%;
    object-fit: cover;
  }
  .latest-news-features-block .card-news {
    height: 100%;
  }
  .featured-news {
    padding: unset !important;
  }
  .latest-news {
    padding: unset !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .banner-wrapper .banner-image img {
    height: 254px;
    width: 100%;
    object-fit: cover;
  }
  .latest-news-features-block .card-news {
    height: 100%;
  }
  .featured-news {
    padding: unset !important;
  }
  .latest-news {
    padding: unset !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .latest-news-features-block .card-news {
    height: 100%;
  }
  .featured-news {
    padding: unset !important;
  }
  .latest-news {
    padding: unset !important;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .latest-news-features-block .card-news {
    height: 100%;
  }
  .featured-news {
    padding: unset !important;
  }
  .latest-news {
    padding: unset !important;
  }
}
