.block-wid-latest-news-features {
  padding: 40px 0px;
}
.featured-news {
  padding-left: 0 !important;
}
.latest-news {
  padding-right: 0 !important;
}
.featured-news .col-md-3,
.featured-news .col-md-4,
.featured-news .col-md-8,
.featured-news .col-md-9 {
  padding: 0 2px 2px;
  margin-bottom: 4px;
}
.featured-news .col-md-3{
  margin-bottom: 12px;
}
/* .banner-wrapper {
  cursor: pointer;
}*/
.banner-desc {
  transition: 0.4s;
}
.banner-wrapper:hover .banner-desc {
  height: 120px;
  overflow: hidden;
}
.banner-wrapper .banner-image img {
  height: 302px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 48px;
}
.banner-1 {
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}
.banner-3 {
  overflow: hidden;
  border-radius: 0px 20px 0 0;
}
.banner-5 {
  overflow: hidden;
  border-radius: 0 0 20px 0;
}
.banner-1 .banner-image img {
  height: 608px;
  width: 100%;
}
.banner-wrapper .banner-desc {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 0px 14px;
  display: flex;
  align-items: center;
  height: 50px;
  position: absolute;
  bottom: 0;
}
.banner-1 .banner-desc {
  background-color: #9c1de7;
  color: #556cff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.banner-1 .banner-desc p a {
  color: #ffffff;
}
.banner-2 .banner-desc {
  background-color: #556cff;
  color: #ffffff;
}

.banner-2 .banner-desc p a {
  color: #ffffff;
}
.banner-3 .banner-desc {
  background-color: #9c1de7;
  color: #556cff;
}

.banner-3 .banner-desc p a {
  color: #ffffff;
}
.banner-4 .banner-desc {
  background-color: #556cff;
  color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.banner-4 .banner-desc p a {
  color: #ffffff;
}

.banner-5 .banner-desc {
  background-color: #9c1de7;
  color: #556cff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.banner-5 .banner-desc p a {
  color: #ffffff;
}
.banner-wrapper .banner-desc p {
  margin: 0;
  padding: 0;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner-wrapper:hover .banner-desc p {
  -webkit-line-clamp: 6;
}

.banner-wrapper .banner-desc p a {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  text-decoration: none;
  display: block;
}

.latest-news-features-block .card-news .card-content {
  overflow: hidden;
  overflow-y: scroll;
}

.card-content::-webkit-scrollbar {
  width: 10px;
}
.card-content::-webkit-scrollbar-track {
  margin-top: 40px;
}
.card-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
}

.latest-news-features-block .card-news a {
  margin: 25px 0 0;
  text-decoration: none;
}

.latest-news-features-block .card-news a span {
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.4s;
}

.latest-news-features-block .card-news a span:hover {
  transform: scale(1.05);
}

.latest-news-features-block .card-news a span i {
  margin-left: 15px;
}

.latest-news-features-block .card-news {
  flex-direction: column;
}

.latest-news-features-block .card-news .card-content .news-wrapper{
  transition: 0.4s;
}

.latest-news-features-block .card-news .card-content .news-wrapper:hover{
  transform: translateY(-3px);
}

/* Responsive */
@media (min-width: 320px) and (max-width: 480px) {
  .banner-wrapper{
    border-radius: 0;
  }
  .banner-wrapper .banner-image img {
    height: 254px;
    width: 100%;
    object-fit: cover;
  }
  .latest-news-features-block .card-news {
    height: 100%;
  }
  .featured-news {
    padding: unset !important;
  }
  .latest-news {
    padding: unset !important;
  }
  .featured-news .col-md-3{
    margin-bottom: 4px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .banner-wrapper{
    border-radius: 0;
  }
  .banner-wrapper .banner-image img {
    height: 254px;
    width: 100%;
    object-fit: cover;
  }
  .latest-news-features-block .card-news {
    height: 100%;
  }
  .featured-news {
    padding: unset !important;
  }
  .latest-news {
    padding: unset !important;
  }
  .featured-news .col-md-3{
    margin-bottom: 4px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .latest-news-features-block .card-news {
    height: 100%;
  }
  .featured-news {
    padding: unset !important;
  }
  .latest-news {
    padding: unset !important;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .latest-news-features-block .card-news {
    height: 100%;
  }
  .featured-news {
    padding: unset !important;
  }
  .latest-news {
    padding: unset !important;
  }
}
