<section class="home-map-block">
    <h2>Countries Roll-Out</h2>
    <div class="home-map-wrapper" style="
            background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4)
            ),
            url('/{{ directory }}/images/wid-map-background.jpg')
            ">
        <div id='wid-map' class='col-sm-12'></div>
    </div>
</section>
