<hr class="hr-map"/>
<div class="home-map-wrapper" style="
  background-image: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.4)
  ),
  url('/{{ directory }}/images/wid-map-background.jpg')
  ">
  <h2>Countries Roll-Out</h2>
  <div id='wid-map' class='col-sm-12'></div>
</div>
<hr class="hr-map"/>
