.faq-background-image {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray-200;
  margin-bottom: 50px;

  .faq-header-card {
    padding: 10px 0;
    border-radius: 15px;
    text-align: center;

    .faq-header-card-title {
      color: $gray-900;
      font-size: 50px;
      padding-bottom: 20px;
       font-family: $font-raleway;
      font-weight: bold;
    }

    .faq-header-card-description {
      color: $gray-900;
      font-size: $font-size-base;
      font-family: $font-opensans;
    }

    .faq-category-container {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      a:hover {
        text-decoration: none;
      }

      .faq-category-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 35px;
        height: 240px;
        width: 200px;
        border-radius: 10px;
        font-family: $font-raleway;
        font-size: $font-size-base;
        font-weight: bold;
        background-color: $white;
        border: 2px solid $white;
        transition: .2s;
        margin: 30px 17px;

        &:hover {
          border: 2px solid $primary-color;
        }

        .faq-category-content-img {
          height: 65px;
          width: auto;
        }

        p {
          margin-top: 15px;
          color: $gray-900;
          font-weight: bold;
          font-family: $font-raleway;
        }

        .arrow-content {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 35px;
          width: 35px;
          border-radius: 50%;
          border: 1.5px solid $accent-color;

          i {
            color: $accent-color;
            font-size: $font-size-text;
          }
        }
      }
    }
  }
}

.faq-content-container-background {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  .faq-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .faq-content-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      border-radius: 15px;
      padding: 40px 90px;

      .faq-content-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .faq-content-header-title {
          text-align: center;
          font-size: $font-size-xxl-alt;
          color: $blue-dark;
          font-family: $font-raleway;
          font-weight: bold;
        }
      }

      .faq-list-item {

        .faq-accrodion-body {
          flex: 1;

          .faq-accordion {
            cursor: pointer;
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: $font-size-text-alt;
            transition: 0.7s;
            padding: 15px 15px;
            border-bottom: 2px solid $gray-200;

            .faq-accordion-dot {
              margin-left: -1em;
              margin-bottom: 5px;
              font-size: 8px;
            }

            .faq-accordion-question {
              flex: 1;
              text-align: left;
              font-size: $font-size-base;
              font-weight: bold;
              font-family: $font-opensans;
              color: $gray-900;
            }

            .faq-accordion-arrow {
              font-weight: lighter;
              transition: transform 0.3s;
              font-size: $font-size-xs;
              color: $gray-600;
            }
          }

          .active {

            .faq-accordion-dot {
              color: $primary-color;
            }

            .faq-accordion-question {
              color: $primary-color;
            }

            .faq-accordion-arrow {
              transform: rotate(90deg);
            }
          }

          .panel {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;

            .panel-content {
              font-family: $font-opensans;
              margin: 5px 0 0 20px;
              padding: 30px;
              font-size: $font-size-text-sm;
              color: $gray-900;
              border-radius: 10px;
            }
          }
        }
      }
    }

  }
}

.faq-form-background {
  background-color: $gray-200;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 80px 0;

  .faq-form-card {
    border-radius: 10px;
    color: $gray-900;
    padding: 0 90px;

    .faq-form-title {
      text-align: center;
      font-size: $font-size-xxl-alt;
      font-family: $font-raleway;
      font-weight: bold;
    }

    .faq-form-sub-title {
      text-align: center;
      font-size: $font-size-base;
      font-family: $font-opensans;
    }

    .faq-form-body {

      .form-group {

        .faq-form-label {
          font-family: $font-opensans;
          font-size: $font-size-text-sm;
        }

        .faq-form-input {
          font-size: $font-size-text-sm;
          font-family: $font-opensans;
          border: none;
          background-color: $white;
        }
      }

      .form-actions {
        padding: 30px 0;

        .faq-submit {
          background-color: $primary-color;
          color: $white;
          font-weight: $font-weight-semibold;
          font-size: $font-size-text-sm;
          font-family: $font-opensans;
          border-radius: 5px;
          padding: 10px 30px !important;
          border: none;

          &:hover {
            background-color: $white;
            color: $primary-color;
          }
        }
      }
    }
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .faq-background-image {

    .faq-header-card {

      .faq-category-container {

        .faq-category-content {
          padding: 5px 10px 5px 10px;
          height: 150px;
          width: 300px;
          border-radius: 5px;

          .faq-category-content-img {
            height: 40px;
            width: auto;
            margin-bottom: 3px;
          }
        }
      }
    }
  }

  .faq-content-container-background {
    .faq-content-container {
      .faq-content-card {
        padding: 5px 5px;

        .faq-content-header {
          .faq-content-header-title {
            font-size: $font-size-text-alt;
            font-weight: bold;
          }
        }

        .faq-list-item {

          .faq-accrodion-body {
            .faq-accordion {
              font-size: $font-size-base;
              border-bottom: 1px solid #e8edff;

              .faq-accordion-question {
                font-size: $font-size-xs;
                font-weight: bold;
              }

              .faq-accordion-arrow {
                font-size: $font-size-xs;
              }
            }

            .panel {
              font-size: $font-size-xs;

              .panel-content {
                margin: 5px 0 0 5px;
                padding: 4px;
                border-radius: 3px;
              }
            }
          }
        }
      }
    }
  }

  .faq-form-background {
    background-color: #e8edff;
    padding: 10px 10px;

    .faq-form-card {
      border-radius: 5px;
      padding: 20px 10px;

      .faq-form-title {
        font-size: $font-size-text;
      }

      .faq-form-sub-title {
        font-size: $font-size-text-sm;
      }

      .faq-form-body {

        .form-group {

          .faq-form-label {
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .faq-background-image {

    .faq-header-card {

      .faq-category-container {

        .faq-category-content {
          padding: 25px 10px 25px 10px;
          height: 195px;
          width: 160px;
          border-radius: 5px;

          .faq-category-content-img {
            height: 30px;
            width: auto;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .faq-content-container-background {

    .faq-content-container {
      .faq-content-card {
        padding: 10px 10px;

        .faq-content-header {
          .faq-content-header-title {
            font-size: $font-size-title-xs;
          }
        }

        .faq-list-item {

          .faq-accrodion-body {
            .faq-accordion {
              font-size: $font-size-base;
              border-bottom: 1px solid #e8edff;

              .faq-accordion-question {
                font-size: $font-size-xs;
              }

              .faq-accordion-arrow {
                font-size: $font-size-xs;
              }
            }

            .panel {
              font-size: $font-size-xs;

              .panel-content {
                margin: 5px 0 0 10px;
                padding: 7px;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }

  .faq-form-background {
    background-color: #e8edff;
    padding: 30px 20px;

    .faq-form-card {
      padding: 20px 30px;

      .faq-form-title {
        font-size: $font-size-text-alt;
      }

      .faq-form-sub-title {
        font-size: $font-size-base;
      }

      .faq-form-body {

        .form-group {

          .faq-form-label {
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .faq-background-image {

    .faq-header-card {

      .faq-category-container {

        .faq-category-content {
          padding: 15px 2px;
          height: 180px;
          width: 115px;
          border-radius: 7px;
          font-size: $font-size-text-sm;

          .faq-category-content-img {
            height: 30px;
            width: auto;
            margin-bottom: 4px;
          }
          .arrow-content {
            height: 20px;
            width: 20px;
  
            i {
              font-size: $font-size-xs;
            }
          }
        }
      }
    }
  }

  .faq-content-container-background {

    .faq-content-container {
      .faq-content-card {
        padding: 20px 30px 20px 10px;

        .faq-list-item {

          .faq-accrodion-body {
            .faq-accordion {
              border-bottom: 1px solid #e8edff;
            }

            .panel {
              font-size: $font-size-text-sm;

              .panel-content {
                margin: 5px 0 0 15px;
                padding: 7px;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }

  .faq-form-background {
    background-color: #e8edff;
    padding: 40px 40px;

    .faq-form-card {
      padding: 40px 80px;

      .faq-form-title {
        font-size: $font-size-title-xs;
      }

      .faq-form-sub-title {
        font-size: $font-size-base;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .faq-background-image {

    .faq-header-card {

      .faq-category-container {

        .faq-category-content {
          width: 180px;
          height: 225px;
          margin: 30px 10px;

          .faq-category-content-img {
            height: 50px;
          }
        }
      }
    }
  }

  .faq-content-container-background {

    .faq-content-container {

      .faq-content-card {
        padding: 35px 90px;

        .faq-list-item {

          .faq-accrodion-body {

            .faq-accordion {
              border-bottom: 1px solid #e8edff;
            }

            .panel {

              .panel-content {
                margin: 5px 0 0 15px;
                padding: 7px;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }

  .faq-form-background {
    background-color: #e8edff;
    padding: 40px 80px;

    .faq-form-card {
      padding: 60px 120px;

      .faq-form-title {
        font-size: $font-size-title;
      }

      .faq-form-sub-title {
        font-size: $font-size-text;
      }
    }
  }
}
